name: Generate Snake Animation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate snake (Gray Theme)
        uses: Platane/snk@v3
        with:
          github_user_name: yaszzzz
          outputs: |
            dist/snake-gray.svg?palette=github-dark&color_snake=#7d8590&color_dots=#30363d,#484f58,#6e7681,#8b949e

      - name: Push changes
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
